<div class="container text-center">
    <h1 class='whiteborder'><a name='classes'></a>Choose a Hero</h1><br>
    <div class="row">
        <div class="col-sm-4">
            <h2 class='whiteborder'>Warrior</h2>
            <button class="noBackground" ng-click='deckCtrl.grabCards("Warrior")'>
                <img src='./golden-portraits/garrosh.png' style="width:100%">
            </button>
        </div>

        <div class="col-sm-4">
            <h2 class='whiteborder'>Shaman</h2>
            <button class="noBackground" ng-click='deckCtrl.grabCards("Shaman")'>
                <img src='./golden-portraits/thrall.png' style="width:100%">
            </button>
        </div>

        <div class="col-sm-4">
            <h2 class='whiteborder'>Rogue</h2>
            <button class="noBackground" ng-click='deckCtrl.grabCards("Rogue")'>
                <img src='./golden-portraits/valeera.png' style="width:100%">
            </button>
        </div>
        <div class="col-sm-4">
            <h2 class='whiteborder'>Paladin</h2>
            <button class="noBackground" ng-click='deckCtrl.grabCards("Paladin")'>
                <img src='./golden-portraits/uther.png' style="width:100%">
            </button>
        </div>
        <div class="col-sm-4">
            <h2 class='whiteborder'>Hunter</h2>
            <button class="noBackground" ng-click='deckCtrl.grabCards("Hunter")'>
                <img src='./golden-portraits/rexxar.png' style="width:100%">
            </button>
        </div>
        <div class="col-sm-4">
            <h2 class='whiteborder'>Druid</h2>
            <button class="noBackground" ng-click='deckCtrl.grabCards("Druid")'>
                <img src='./golden-portraits/malfurion.png' style="width:100%">
            </button>
        </div>
        <div class="col-sm-4">
            <h2 class='whiteborder'>Warlock</h2>
            <button class="noBackground" ng-click='deckCtrl.grabCards("Warlock")'>
                <img src='./golden-portraits/guldan.png' style="width:100%">
            </button>
        </div>
        <div class="col-sm-4">
            <h2 class='whiteborder'>Mage</h2>
            <button class="noBackground" ng-click='deckCtrl.grabCards("Mage")'>
                <img src='./golden-portraits/jaina.png' style="width:100%">
            </button>
        </div>
        <div class="col-sm-4">
            <h2 class='whiteborder'>Priest</h2>
            <button class="noBackground" ng-click='deckCtrl.grabCards("Priest")'>
                <img src='./golden-portraits/anduin.png' style="width:100%">
            </button>
        </div>
    </div>
</div>
